@page
@model DevBin.Pages.Admin.Pastes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].UpdateDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Cache)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].UploaderIPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].ExposureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Syntax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Exposure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paste[0].Folder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paste) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cache)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploaderIPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExposureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Syntax.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exposure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folder.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
