<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["FullTitle"] != null)
    {
        <title>@ViewData["FullTitle"]</title>
    }
    else
    {
        <title>@ViewData["Title"] - DevBin</title>
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DevBin">
    <meta name="apple-mobile-web-app-title" content="DevBin">
    <meta name="theme-color" content="#0d1117">
    <meta name="msapplication-navbutton-color" content="#0d1117">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/brand.svg" type="image/svg+xml">
    <link rel="icon" href="/res/dark.png" type="image/png">

    @{
        var metaTitle = ViewData["FullTitle"] ?? (ViewData["Title"] + " - DevBin");
        var metaDescription = ViewData["MetaDescription"] ?? "Free online pastebin for scripts and texts";
        var req = Context.Request;
        var baseUrl = $"{req.Scheme}://{req.Host.Host}";
        var metaUrl = $"{baseUrl}/{req.Path}";
    }

    <meta name="title" content="@metaTitle">
    <meta name="description" content="@metaDescription">

    <meta property="og:type" content="website">
    <meta property="og:url" content="@metaUrl">
    <meta property="og:title" content="@metaTitle">
    <meta property="og:description" content="@metaDescription">
    <meta property="og:image" content="@baseUrl/appicon.png">
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="100" />

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@metaUrl">
    <meta property="twitter:title" content="@metaTitle">
    <meta property="twitter:description" content="@metaDescription">
    <meta property="twitter:image" content="@baseUrl/appicon.png">
    <meta property="twitter:image:width" content="100" />
    <meta property="twitter:image:height" content="100" />

    @await RenderSectionAsync("Style", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container flex-shrink-0">
        <header class="py-3">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none me-3" href="/">
                        <img src="/brand.svg" class="bi me-2" height="28" alt="DevBin" role="img">
                        <h3 class="d-inline-block align-middle">DevBin<span class="fs-5 text-muted">.dev</span></h3>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a asp-page="/Index" class="btn me-2" role="button"><i class="fas fa-plus"></i> New Paste</a>
                        </li>
                        <li>
                            <a asp-page="/Latest" class="btn btn-outline me-2" role="button"><i class="fas fa-list-ul"></i> Latest Pastes</a>
                        </li>
                    </ul>

                    <form asp-page="Search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-2" method="get">
                        <div class="input-group">
                            <input name="query" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                            <button class="btn btn-outline" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </header>

        <noscript>
            <div class="alert alert-danger" role="alert">
                JavaScript needs to be enabled for the correct display of the page.
            </div>
        </noscript>

        <partial name="_UserPartial" />

        @RenderBody()

    </div>

    <div class="container mt-auto">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
            <p class="col-md-2 mb-0">
                DevBin &copy; 2020 - @DateTime.Today.Year
            </p>

            <ul class="nav col-md-2 justify-content-center list-unstyled d-flex fs-3">
                <li class="ms-3">
                    <a href="https://github.com/Ale32bit/DevBin" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="mailto:devbin@@alexdevs.me">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://alexdevs.me" target="_blank">
                        <i class="fa-solid fa-user-gear"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav col-md-8 justify-content-end">
                <li class="nav-item">
                    <a href="https://www.craftos-pc.cc/" class="px-2 link" target="_blank">Check out CraftOS-PC!</a>
                </li>
                <li class="nav-item">
                    <a href="/docs" class="px-2 link">API Docs</a>
                </li>
                <li class="nav-item">
                    <a href="/privacy" class="px-2 link">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a href="/tos" class="px-2 link">Terms of Service</a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>