@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<_Shared> Shared

@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-end">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (await UserManager.IsInRoleAsync(user, "Administrator"))
        {
            <a class="btn btn-outline" role="button" asp-page="/Admin/Reports/Index"><i class="fa-solid fa-flag"></i> @Shared["NavBar.Reports"]</a>
        }
        <span class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="usermenu" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i> @User.Identity?.Name
            </button>
            <ul class="dropdown-menu" aria-labelledby="usermenu">
                <li>
                    <a class="dropdown-item" href="/User/@User.Identity?.Name"><i class="fas fa-list-ul"></i> @Shared["NavBar.User.YourPastes"]</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-cog"></i> @Shared["NavBar.User.Settings"]</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="dropdown-item text-danger"><i class="fas fa-sign-out-alt"></i> @Shared["NavBar.User.Logout"]</button>
                    </form>
                </li>
            </ul>
        </span>
    }
    else
    {
        <a class="btn btn-outline" role="button" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> @Shared["NavBar.Guest.Login"]</a>
        @*<a class="btn" role="button" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-plus"></i> @Shared["NavBar.Guest.SignUp"]</a>*@
    }
</div>
