@using System.Globalization
@using DevBin.Utils
@using Humanizer
@using Microsoft.Extensions.Localization
@model Paste

@inject IStringLocalizer<_Shared> Shared

<a href="/@Model.Code" class="text-decoration-none">
    <div class="card mb-3">
        <div class="card-body border">
            <h5 class="card-title link">
                @switch (Model.ExposureId)
                {
                    case 1: // Public
                        <i class="fas fa-users" title="@Shared["Exposure.Public"]"></i>
                        break;
                    case 2: // Unlisted
                        <i class="fas fa-eye-slash" title="@Shared["Exposure.Unlisted"]"></i>
                        break;
                    case 3: // Private
                        <i class="fas fa-shield-alt" title="@Shared["Exposure.Private"]"></i>
                        break;
                }
                @Html.DisplayFor(item => Model.Title)
            </h5>
            <p class="card-text font-monospace text-muted fst-italic lh-1">@Model.Cache[..Math.Min(64, Model.Cache.Length)]…</p>
        </div>
        <div class="card-footer border border-top-0">
            <span class="badge badge-color">@(Model.Syntax.Name == "auto" ? Shared["Syntax.Auto"] : Model.Syntax.DisplayName)</span>
            <span class="fst-italic text-muted float-end">@Model.DateTime.ToRelative()</span>
        </div>
    </div>
</a>