@page
@model IndexModel

@using DevBin.Services.HCaptcha
@using Humanizer

@inject SignInManager<ApplicationUser> SignInManager
@inject HCaptchaOptions HCaptcha

@{
    ViewData["Title"] = "Upload and share scripts";
}

@foreach (var alert in Model.Alerts)
{
    <div class="alert alert-@alert.Color" role="alert">
        @alert.Content
    </div>
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="alert alert-dismissible border" role="alert">
        Sign up to unlock the @Model.MemberSpace paste space!
    </div>
}

<form method="post" id="paste-form">
    <div class="row">

        <input id="captcha-token" asp-for="Input.CaptchaToken" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-sm-12 col-md-8 has-validation">
            <span asp-validation-for="Input.Content" class="text-danger"></span>
            <textarea asp-for="Input.Content" maxlength="@Model.PasteSpace" id="paste-input" class="form-control border font-monospace"
                      placeholder="<code> /dev/bin </code>" wrap="soft" required autofocus autocomplete="off"></textarea>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="row">
                <div class="col-6">
                    <label asp-for="Input.Title" class="form-label">Title</label>
                    <input asp-for="Input.Title" type="text" class="form-control" autocomplete="off" placeholder="My paste" />
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="Input.SyntaxName" class="form-label">Syntax</label>
                    <select asp-for="Input.SyntaxName" class="form-select" asp-items="ViewBag.Syntaxes" data-live-search="true"></select>
                    <span asp-validation-for="Input.SyntaxName" class="text-danger"></span>
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-6">
                    <label asp-for="Input.ExposureId" class="form-label">Exposure</label>
                    <select asp-for="Input.ExposureId" class="form-select" asp-items="ViewBag.Exposures">
                    </select>
                    <span asp-validation-for="Input.ExposureId" class="text-danger"></span>
                </div>
                <div class="col-6">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <label asp-for="Input.FolderId" class="form-label">Folder</label>
                        <select asp-for="Input.FolderId" class="form-select" asp-items="ViewBag.Folders">
                            <option value="0" selected>No folder</option>
                        </select>
                        <span asp-validation-for="Input.FolderId" class="text-danger"></span>
                    }
                    else
                    {
                        <label class="form-label">Folder</label>
                        <select disabled class="form-select text-muted disabled">
                            <option value="0" selected>No folder</option>
                        </select>
                    }
                </div>
            </div>

            <div class="row pt-2">
                <div class="col-6">
                    <div class="form-check">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (Model.IsEditing)
                            {
                                <input asp-for="Input.AsGuest" value="off" disabled class="form-check-input disabled" type="checkbox">
                            }
                            else
                            {
                                <input asp-for="Input.AsGuest" class="form-check-input" type="checkbox">
                            }
                        }
                        else
                        {
                            <input asp-for="Input.AsGuest" class="form-check-input" type="checkbox" disabled checked aria-checked="True">
                        }
                        <label asp-for="Input.AsGuest" class="form-check-label">
                            Create as guest
                        </label>
                    </div>
                </div>

                <div class="col-6">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (Model.IsEditing)
                        {
                            <button type="submit" class="form-control btn"><i class="fas fa-pen"></i> Edit Paste</button>
                        }
                        else
                        {
                            <button type="submit" class="form-control btn"><i class="fas fa-plus"></i> Create Paste</button>
                        }
                    }
                    else
                    {
                        <div id="hcaptcha"
                         class="h-captcha"
                         data-sitekey="@HCaptcha.SiteKey"
                         data-callback="onSubmit"
                         data-size="invisible"></div>
                        <button class="form-control btn" onclick="validate()"><i class="fas fa-plus"></i> Create Paste</button>
                    }
                </div>
            </div>

            <div>
                <hr />
                <h4>Latest pastes</h4>
                @foreach (var paste in Model.Latest)
                {
                    <a href="/@paste.Code" class="text-decoration-none">
                        <div class="card mb-3">
                            <div class="card-body border">
                                <h5 class="card-title link">@Html.DisplayFor(item => paste.Title)</h5>
                                <p class="card-text font-monospace text-muted fst-italic lh-1 text-truncate">@paste.Cache[..Math.Min(64, paste.Cache.Length)]</p>
                            </div>
                            <div class="card-footer border border-top-0">
                                <span class="badge badge-color">@Html.DisplayFor(item => paste.Syntax.DisplayName)</span>
                                <span class="fst-italic text-muted float-end">@paste.DateTime.Humanize()</span>
                            </div>
                        </div>
                    </a>
                }
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @if (!SignInManager.IsSignedIn(User))
    {
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script src="js/index.js"></script>
    }
}