@page "/Report/{code?}"
@using DevBin.Services.HCaptcha
@using Microsoft.AspNetCore.Mvc.Localization
@model DevBin.Pages.ReportModel

@inject HCaptchaOptions hCaptchaOptions
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<ReportModel> HtmlLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle", Model.Paste.Code];
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <form method="post">
            <h3>@Localizer["Title", Model.Paste.Code]</h3>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label asp-for="Report.Reason">@Localizer["Reason"]</label>
                        <div class="input-group">
                            <textarea tabindex="1" asp-for="Report.Reason" class="form-control border" placeholder="@Localizer["Reason.Placeholder"]" autofocus required></textarea>
                        </div>
                        <span asp-validation-for="Report.Reason" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-text">
                    <p>@HtmlLocalizer["Info"]</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <button type="submit" class="btn btn-danger text-sm-center text-md-start mb-2" tabindex="2"><i class="fas fa-exclamation-triangle"></i> @Localizer["Send"]</button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="h-captcha text-md-end text-sm-center "
                         data-sitekey="@hCaptchaOptions.SiteKey">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
