@page
@using Humanizer
@model DevBin.Pages.SearchModel
@{
    ViewData["Title"] = "Results for " + Model.Query;
}

<div class="row mx-lg-5">
    <h2 class="text-truncate">Results for @Model.Query</h2>
    <hr />
    @if (!Model.Result.Any())
    {
        <h2 class="text-muted fst-italic text-center">No results...</h2>
    }

    @foreach (var paste in Model.Result)
    {
        <div class="col-sm-12 col-md-4">
            <a href="/@paste.Code" class="text-decoration-none">
                <div class="card mb-3">
                    <div class="card-body border">
                        <h5 class="card-title link">@Html.DisplayFor(item => paste.Title)</h5>
                        <p class="card-text font-monospace text-muted fst-italic lh-1 text-truncate">@paste.Cache[..Math.Min(64, paste.Cache.Length)]</p>
                    </div>
                    <div class="card-footer border border-top-0">
                        <span class="badge badge-color">@Html.DisplayFor(item => paste.Syntax.DisplayName)</span>
                        <span class="fst-italic text-muted float-end">@paste.DateTime.Humanize()</span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>