@page "/User/{username?}/{folderName?}"
@using Humanizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using System.Globalization
@model DevBin.Pages.User.FolderModel

@inject IViewLocalizer Localizer
@inject IStringLocalizer<_Shared> Shared

<div class="row mx-lg-5">
    <h3 class="d-inline text-truncate">
        @if (Model.IsOwn)
        {
            <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa-solid fa-trash"></i></button>
        }
        <span class="text-muted user-select-none fs-5">
            <a class="link" asp-page="./Index" asp-route-username="@Model.Folder.Owner?.UserName">@Model.Folder.Owner?.UserName</a>
            /
        </span>
        @Model.Folder.Name
    </h3>
    <hr />
    @if (!Model.Pastes.Any())
    {
        <h2 class="text-muted fst-italic text-center">@Localizer["FolderEmpty"]</h2>
    }

    @foreach (var paste in Model.Pastes)
    {
        <div class="col-4">
            <a href="/@paste.Code" class="text-decoration-none">
                <div class="card mb-3">
                    <div class="card-body border">
                        <h5 class="card-title link">
                            @switch (paste.ExposureId)
                            {
                                case 1: // Public
                                    <i class="fas fa-users" title="@Shared["Exposure.Public"]"></i>
                                    break;
                                case 2: // Unlisted
                                    <i class="fas fa-eye-slash" title="@Shared["Exposure.Unlisted"]"></i>
                                    break;
                                case 3: // Private
                                    <i class="fas fa-shield-alt" title="@Shared["Exposure.Private"]"></i>
                                    break;
                            }
                            @Html.DisplayFor(item => paste.Title)
                        </h5>
                        <p class="card-text font-monospace text-muted fst-italic lh-1">@paste.Cache[..Math.Min(64, paste.Cache.Length)]…</p>
                    </div>
                    <div class="card-footer border border-top-0">
                        <span class="badge badge-color">@Html.DisplayFor(item => paste.Syntax.DisplayName)</span>
                        <span class="fst-italic text-muted float-end">@paste.DateTime.Humanize(culture: CultureInfo.InvariantCulture)</span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@if (Model.IsOwn)
{
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog border rounded-2">
            <div class="modal-content">
                <form asp-page-handler="delete" method="post">
                    <input name="folderId" type="hidden" value="@Model.Folder.Id" />
                    <div class="modal-header">
                        <h5 class="modal-title">@Localizer["DeleteFolder.Title"]</h5>
                    </div>
                    <div class="modal-body">
                        <p>@Localizer["DeleteFolder.Text"]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> @Shared["Cancel"]</button>
                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> @Shared["Delete"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}