@page "/User/{username?}"
@using Humanizer
@model DevBin.Pages.User.UserModel


<div class="row mx-lg-5">
    <h2>@ViewData["Username"]'s profile</h2>
    <hr />
    @if (Model.IsOwn)
    {
        <h3>Folders <button class="btn btn-sm btn-outline" data-bs-toggle="modal" data-bs-target="#addFolderModal"><i class="fa-solid fa-plus"></i></button></h3>
    }
    else
    {
        @if (Model.Folders.Any())
        {
            <h3>Folders</h3>
        }
    }
    @if (Model.Folders.Any())
    {
        @foreach (var folder in Model.Folders)
        {
            <div class="col-4">
                <a asp-page="Folder" asp-route-username="@ViewData["Username"]" asp-route-folderName="@folder.Link" class="text-decoration-none">
                    <div class="card border mb-3">
                        <div class="card-body">
                            <h5 class="card-title link">
                                @Html.DisplayFor(item => folder.Name)
                            </h5>
                            <span class="fst-italic text-muted">@folder.GetPastesCount() pastes</span>
                            <span class="fst-italic text-muted float-end">@folder.DateTime</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <hr />
    }

</div>
<div class="row mx-lg-5">
    <h3>Pastes</h3>
    @if (!Model.Pastes.Any())
    {
        <h4 class="text-muted fst-italic">There are no pastes here yet.</h4>
    }

    @foreach (var paste in Model.Pastes)
    {
        <div class="col-4">
            <a href="/@paste.Code" class="text-decoration-none">
                <div class="card mb-3">
                    <div class="card-body border">
                        <h5 class="card-title link">
                            @switch (paste.ExposureId)
                            {
                                case 1: // Public
                                    <i class="fas fa-users" title="Public"></i>
                                    break;
                                case 2: // Unlisted
                                    <i class="fas fa-eye-slash" title="Unlisted"></i>
                                    break;
                                case 3: // Private
                                    <i class="fas fa-shield-alt" title="Private"></i>
                                    break;
                            }
                            @Html.DisplayFor(item => paste.Title)
                        </h5>
                        <p class="card-text font-monospace text-muted fst-italic lh-1">@paste.Cache[..Math.Min(64, paste.Cache.Length)]…</p>
                    </div>
                    <div class="card-footer border border-top-0">
                        <span class="badge badge-color">@Html.DisplayFor(item => paste.Syntax.DisplayName)</span>
                        <span class="fst-italic text-muted float-end">@paste.DateTime.Humanize()</span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>


@if (Model.IsOwn)
{
    <div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="addFolderModal" aria-hidden="true">
        <div class="modal-dialog border rounded-2">
            <div class="modal-content">
                <form asp-page-handler="addFolder" method="post">

                    <div class="modal-header">
                        <h5 class="modal-title">Add folder</h5>
                    </div>
                    <div class="modal-body">
                        <input asp-for="FolderName" class="form-control" placeholder="Folder name here" required />
                        <span asp-validation-for="FolderName" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Close</button>
                        <button type="submit" class="btn"><i class="fa-solid fa-plus"></i> Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}