@page "/User/{username?}"
@using DevBin.Utils
@using Humanizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using System.Globalization
@model DevBin.Pages.User.UserModel

@inject IViewLocalizer Localizer
@inject IStringLocalizer<_Shared> Shared

@{
    ViewData["Title"] = Localizer["Title", ViewData["Username"]];
}

<div class="row mx-lg-5">
    <h2>@Localizer["Title", ViewData["Username"]]</h2>
    <hr />
    @if (Model.IsOwn)
    {
        <h3>@Localizer["Folders"] <button class="btn btn-sm btn-outline" data-bs-toggle="modal" data-bs-target="#addFolderModal"><i class="fa-solid fa-plus"></i></button></h3>
    }
    else
    {
        @if (Model.Folders.Any())
        {
            <h3>@Localizer["Folders"]</h3>
        }
    }
    @if (Model.Folders.Any())
    {
        @foreach (var folder in Model.Folders)
        {
            <div class="col-4">
                <a asp-page="Folder" asp-route-username="@ViewData["Username"]" asp-route-folderName="@folder.Link" class="text-decoration-none">
                    <div class="card border mb-3">
                        <div class="card-body">
                            <h5 class="card-title link">
                                @Html.DisplayFor(item => folder.Name)
                            </h5>
                            <span class="fst-italic text-muted">@Localizer["PasteCount", folder.GetPastesCount()]</span>
                            <span class="fst-italic text-muted float-end">@folder.DateTime</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        <hr />
    }

</div>
<div class="row mx-lg-5">
    <h3>Pastes</h3>
    @if (!Model.Pastes.Any())
    {
        <h4 class="text-muted fst-italic">@Localizer["NoPastes"]</h4>
    }

    @foreach (var paste in Model.Pastes)
    {
        <div class="col-4">
            @await Html.PartialAsync("Partials/PastePartial", paste)
        </div>
    }
</div>


@if (Model.IsOwn)
{
    <div class="modal fade" id="addFolderModal" tabindex="-1" aria-labelledby="addFolderModal" aria-hidden="true">
        <div class="modal-dialog border rounded-2">
            <div class="modal-content">
                <form asp-page-handler="addFolder" method="post">

                    <div class="modal-header">
                        <h5 class="modal-title">@Localizer["AddFolder"]</h5>
                    </div>
                    <div class="modal-body">
                        <input asp-for="FolderName" class="form-control" placeholder="@Localizer["AddFolder.Placeholder"]" required />
                        <span asp-validation-for="FolderName" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> @Shared["Close"]</button>
                        <button type="submit" class="btn"><i class="fa-solid fa-plus"></i> @Shared["Add"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
}