@page
@using Microsoft.AspNetCore.Mvc.Localization
@model LoginModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
        <div class="card border">
            <div class="card-body">

                @if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <h3>@Localizer["LogInWith"]</h3>

                    <div class="text-center">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="row">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <div class="col-sm-12 col-md-6 p-2">
                                        <button type="submit" class="btn btn-outline w-100" name="provider" value="@provider.Name" title="@Localizer["LogInWith.Title", provider.DisplayName ?? ""]"><i class="fa-brands fa-@provider.DisplayName.ToLower()"></i> @provider.DisplayName</button>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>

                    <hr />

                }

                <form id="account" method="post">
                    <h4>@Localizer["LogIn"]</h4>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Input.Username" class="form-label">@Localizer["Username"]</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                            <input type="text" asp-for="Input.Username" class="form-control" tabindex="1" autocomplete="username" />
                        </div>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">@Localizer["Password"]</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                            <input asp-for="Input.Password" type="password" class="form-control" id="password" tabindex="2">
                            <button class="input-group-text" type="button" tabindex="-1" onmousedown="showPassword('password');" onmouseup="hidePassword('password');" onmouseleave="hidePassword('password');">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" asp-for="Input.RememberMe" class="form-check-input" tabindex="3">
                        <label class="form-check-label" asp-for="Input.RememberMe">@Localizer["RememberMe"]</label>
                        <a class="float-end" asp-page="./ForgotPassword" tabindex="5">@Localizer["ForgotPassword"]</a>
                    </div>
                    <button type="submit" class="btn" tabindex="4">@Localizer["LogIn"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
