@page
@model DevBin.Pages.Admin.Reports.CloseModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ReporterIPAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ReporterIPAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Paste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Paste.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reporter.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Report.Id" />
        <input type="submit" value="Close" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
