@page
@model DevBin.Pages.Admin.Reports.DetailsModel

@{
    ViewData["Title"] = "Reports";
}

<div>
    <h4>Report</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.ReporterIPAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.ReporterIPAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Paste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Paste.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Report.Reporter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Report.Reporter.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
