@page
@model DevBin.Pages.Admin.Reports.IndexModel

@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

<table class="table">
    <thead>
        <tr>
            <th>Paste</th>
            <th>Reason</th>
            <th>IP Address</th>
            <th>Reported By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Report.Where(q => !q.IsClosed))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Paste.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReporterIPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reporter.UserName)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Close" asp-route-id="@item.Id">Close</a>
                </td>
            </tr>
        }
    </tbody>
</table>
